@keyframes slide-down {
	0% { opacity: 0; transform: translateY(-150%) }
	100% { opacity: 1; transform: translateY(0) }
}
@keyframes animateCloud {
	0% { margin-left: -300px; }
	100% { margin-left: 100%; }
}
@-webkit-keyframes FadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes FadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-webkit-keyframes Float {
	from { -webkit-transform: translateX(100%) translateZ(0); transform: translateX(100%) translateZ(0); }
	to { -webkit-transform: translateX(-15%) translateZ(0); transform: translateX(-15%) translateZ(0); }
}
@keyframes Float {
	from { -webkit-transform: translateX(100%) translateZ(0); transform: translateX(100%) translateZ(0); }
	to { -webkit-transform: translateX(-15%) translateZ(0); transform: translateX(-15%) translateZ(0); }
}
@-webkit-keyframes FadeFloat {
	0%, 100% { opacity: 0; }
	5%, 90% { opacity: 1; }
}
@keyframes FadeFloat {
	0%, 100% { opacity: 0; }
	5%, 90% { opacity: 1; }
}
@-webkit-keyframes rainbow-in-out {
	0% { -webkit-transform: rotate(180deg); }
	33% { -webkit-transform: rotate(360deg); }
	66% { -webkit-transform: rotate(360deg); }
	100% { -webkit-transform: rotate(540deg); }
}
@-webkit-keyframes shadow-in-out {
	0% { opacity: 0; width: 0; }
	33% { opacity: 1; width: 60px; }
	66% { opacity: 1; width: 60px; }
	100% { opacity: 0; width: 0; }
}
@-webkit-keyframes clouds-in-out {
	0% { right: 0%; }
	100% { right: 105%; }
}
@-webkit-keyframes bow {
	0%, 5% { -webkit-transform: rotate(0); transform: rotate(0); }
	40%, 60% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	95%, 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes bow {
	0%, 5% { -webkit-transform: rotate(0); transform: rotate(0); }
	40%, 60% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
	95%, 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes fly-cycle {
	100% { background-position: -900px 0; }
}
@keyframes fly-cycle {
	100% { background-position: -900px 0; }
}
@-webkit-keyframes fly-right-one {
	0% { left: -10%; -webkit-transform: scale(0.3); transform: scale(0.3); }
	10% { left: 10%; -webkit-transform: translateY(2vh) scale(0.4); transform: translateY(2vh) scale(0.4); }
	20% { left: 30%; -webkit-transform: translateY(0vh) scale(0.5); transform: translateY(0vh) scale(0.5); }
	30% { left: 50%; -webkit-transform: translateY(4vh) scale(0.6); transform: translateY(4vh) scale(0.6); }
	40% { left: 70%; -webkit-transform: translateY(2vh) scale(0.6); transform: translateY(2vh) scale(0.6); }
	50% { left: 90%; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
	60% { left: 110%; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
	100% { left: 110%; opacity: 1; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
}
@keyframes fly-right-one {
	0% { left: -10%; -webkit-transform: scale(0.3); transform: scale(0.3); }
	10% { left: 10%; -webkit-transform: translateY(2vh) scale(0.4); transform: translateY(2vh) scale(0.4); }
	20% { left: 30%; -webkit-transform: translateY(0vh) scale(0.5); transform: translateY(0vh) scale(0.5); }
	30% { left: 50%; -webkit-transform: translateY(4vh) scale(0.6); transform: translateY(4vh) scale(0.6); }
	40% { left: 70%; -webkit-transform: translateY(2vh) scale(0.6); transform: translateY(2vh) scale(0.6); }
	50% { left: 90%; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
	60% { left: 110%; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
	100% { left: 110%; opacity: 1; -webkit-transform: translateY(0vh) scale(0.6); transform: translateY(0vh) scale(0.6); }
}
@-webkit-keyframes fly-right-two {
	0% { left: -10%; opacity: 1; -webkit-transform: translateY(-2vh) scale(0.5); transform: translateY(-2vh) scale(0.5); }
	10% { left: 10%; -webkit-transform: translateY(0vh) scale(0.4); transform: translateY(0vh) scale(0.4); }
	20% { left: 30%; -webkit-transform: translateY(-4vh) scale(0.6); transform: translateY(-4vh) scale(0.6); }
	30% { left: 50%; -webkit-transform: translateY(1vh) scale(0.45); transform: translateY(1vh) scale(0.45); }
	40% { left: 70%; -webkit-transform: translateY(-2.5vh) scale(0.5); transform: translateY(-2.5vh) scale(0.5); }
	50% { left: 90%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
	51% { left: 110%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
	100% { left: 110%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
}
@keyframes fly-right-two {
	0% { left: -10%; opacity: 1; -webkit-transform: translateY(-2vh) scale(0.5); transform: translateY(-2vh) scale(0.5); }
	10% { left: 10%; -webkit-transform: translateY(0vh) scale(0.4); transform: translateY(0vh) scale(0.4); }
	20% { left: 30%; -webkit-transform: translateY(-4vh) scale(0.6); transform: translateY(-4vh) scale(0.6); }
	30% { left: 50%; -webkit-transform: translateY(1vh) scale(0.45); transform: translateY(1vh) scale(0.45); }
	40% { left: 70%; -webkit-transform: translateY(-2.5vh) scale(0.5); transform: translateY(-2.5vh) scale(0.5); }
	50% { left: 90%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
	51% { left: 110%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
	100% { left: 110%; -webkit-transform: translateY(0vh) scale(0.45); transform: translateY(0vh) scale(0.45); }
}
@-webkit-keyframes blink {
	0% { opacity: 1 }
	50% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes blink {
	0% { opacity: 1 }
	50% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes myfirst {
	0% { transform: translateY(0px); }
	50% { transform: translateY(-130px); }
	100% { transform: translateY(0px); }
}
@keyframes footerDragon {
	0% { transform: translateY(0px); }
	50% { transform: translateY(-50px); }
	100% { transform: translateY(0px); }
}
@keyframes blink {
	50% { opacity: .5 }
}
