* { outline: none; }

@media only screen and (min-width:1280px) and (max-width:1440px) {
	.blogSec { padding: 70px 0 }
	.faqContent h3 { font-size: 45px; }
	.middleContent h3 { font-size: 22px; }
    
    .blogSecSingle{ padding: 70px 0 }
    .faqSec{padding: 70px 0;}

	.boxCloud { background-repeat: no-repeat; background-size: auto 100%; height: 210px; }
	.abtData h3 { font-size: 40px; }
	.abtData p { font-size: 14px; }
	.centerForm h3 { font-size: 40px; }
	.dataintersted .boxCloud h3 { font-weight: 700; font-size: 26px; }
	.dataintersted .boxCloud { background-size: 460px auto; }
	.getinTouch { padding-bottom: 80px; }
	.col-form { padding: 50px 100px; }
	.bannerNew h1 { font-size: 45px; margin-bottom: 14px }
	.bannerNew p { font-size: 17px; }
	.bannercontent { top: 15% }
	.bannerDragon .dragonAnimation img { max-height: 230px; }
	.portfolio-experiment .rainbow .bow { width: 900px; height: 900px }
	.portfolio-experiment .rainbow { height: 370px; width: 900px; }
	.topHeader { padding: 20px 0 }
	.webPage { padding-top: 96px; }
	.bannerDragon { width: 1050px; bottom: 25px }
	.Cloud.Background.cloud-2 { height: 80px; }
	.Cloud.Foreground.cloud-5 { height: 70px; }
	.Cloud.Foreground.cloud-8 { height: 90px; }
	.layer-5 { bottom: -3px; }
	.themeHeading h2 { font-size: 40px; margin-bottom: 15px; }
	.productOverview, .literacy, .resource, .signUp, .mainFooter { padding: 50px 0 }
	.featureContent h3 { font-size: 19px; padding: 0 30px; }
	.tableHeight { height: 360px; }
	.themeHeading p { font-size: 16px; }
	.overviewImage img { max-height: 200px; }
	.themeHeading { margin-bottom: 17px; }
	.overviewContent h3 { font-size: 25px; margin-bottom: 10px }
	.overviewContent p { font-size: 15px; }
	.gap-40 { margin-top: 30px; }
	.registerBtn .ctaMiddle { font-size: 15px; padding: 10px 30px; }
	.boxCenter { padding: 0 25px; }
	.contentPanel h2 { font-size: 19px; }
	.contentPanel p { font-size: 14px; line-height: 21px; }
	.contentPanel h3 { font-size: 50px; }
	.contentPanel h4 { font-size: 17px; }
	.boxData { height: 300px; }
	.trialCta { font-size: 14px; padding: 8px 39px; }
	.inLiteracy h3 { font-size: 16px; line-height: 23px; }
	.cloudBackground { background-size: auto 200px; }
	.lineBottom { margin-top: 70px; }
	.vLine-1 { bottom: -72px; height: 75px; }
	.literacyTable { height: 210px; }
	.cloudBackgroundN { background-size: auto 250px; }
	.cloudBackgroundN .literacyTable { height: 256px; }
	.bookContent h3 { font-size: 30px; margin-bottom: 20px }
	.bookContent p { font-size: 15px; }
	.storyContent { margin-top: 35px; }
	.testimonialContent { margin-top: 25px; }
	.formPage .submitBtn { padding: 16px 55px; font-size: 19px; }
	.formPage .form-control { height: 60px; }
	.dragon-image img { max-height: 250px; }
	.footerSocial ul li a { font-size: 20px; width: 45px; height: 45px; }
	.footerSocial ul li { padding: 0 10px; }
	.footerLogo img { max-height: 70px; }
	.footerNavigation ul li a { font-size: 15px; }
	.footerNavigation { margin-top: 40px; }
	.subscribeForm { margin-top: 35px; }
	.portfolio-experiment .rainbow .bow:before { border-width: 20px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(2):before { left: 20px; right: 20px; top: 20px; bottom: 20px }
	.portfolio-experiment .rainbow .bow:nth-of-type(3):before { left: 40px; right: 40px; top: 40px; bottom: 40px }
	.portfolio-experiment .rainbow .bow:nth-of-type(4):before { left: 60px; right: 60px; top: 60px; bottom: 60px }
	.portfolio-experiment .rainbow .bow:nth-of-type(5):before { left: 80px; right: 80px; top: 80px; bottom: 80px }
	.portfolio-experiment .rainbow .bow:nth-of-type(6):before { left: 100px; right: 100px; top: 100px; bottom: 100px }
	.portfolio-experiment .rainbow .bow:nth-of-type(7):before { left: 120px; right: 120px; top: 120px; bottom: 120px }
	.layer-4 { left: 35px; }
	@keyframes myfirst {
		0% { transform: translateY(0px); }
		50% { transform: translateY(-60px); }
		100% { transform: translateY(0px); }
	}
}


.mobileMenu { padding-top: 10px; }
.mobileMenu a div { width: 30px; height: 3px; background-color: #000; margin: 5px 0; margin-left: -5px; }
.mobileNav { position: fixed; width: 280px; right: -280px; height: 100%; transition: all 0.5s; top: 0; background: #333; z-index: 999; padding: 20px; }
.mobileClose a { color: #fff; font-size: 25px; position: absolute; right: 20px; top: 15px; z-index: 2 }
.navMobile { padding-top: 40px; height: 100%; position: relative; overflow: scroll; }
.navMobile ul li a { color: #fff; }
.navMobile ul li { margin: 10px 0; }
.mobileNav.open { right: 0 }
.mobileMenu  a { display: inline-block; }
.boxCloud { background-repeat: no-repeat; }


@media only screen and (min-width:320px) and (max-width:767px) {
	.blogSec { padding: 50px 0; }
	.blogBox.blogSingle h3 {
	    font-size: 21px;
	    margin-bottom: 15px;
	}

	.blogData p{ font-size: 14px; }

	.faqSec{padding: 50px 0;}

    .faqContent h3 br{ display: none; }

    .faqContent p {
    font-size: 14px;
}
    
    .faqCate{ margin-bottom: 30px; }
	.blogSecSingle{ padding: 50px 0; }
	.faqCate{padding: 30px;}
	.faqContent h3 { font-size: 35px; }
	.blogBox { margin-bottom: 40px; }
	.aboutContent:before { display: none; }
	.abtData h3 { font-size: 35px; }
	.flex { display: block; }
	.col-form { padding: 40px; }
	.dataintersted .boxCloud { width: 335px; height: 227px; background-size: auto 100%; margin-bottom: 41px; }
	.getinTouch { padding-bottom: 70px; }
	.dataintersted .boxCloud h3 { font-weight: 700; font-size: 25px; }
	.centerForm h3 { font-size: 30px; }
	.boxCloud { background-size: auto 200px; height: 210px; }
	.middleContent h3 { font-size: 22px; }
	.mainLogo img { max-width: 230px; }
	.topHeader { padding: 15px 0 }
	.webPage { padding-top: 76px; }
	.bannercontent { top: 50px; }
	.bird { transform: scale(0.7); margin: 0 20px; }
	.layer-4 { background-size: 100% auto; background-repeat: no-repeat; }
	.bannerNew h1 { font-size: 25px; margin-bottom: 10px; line-height: 34px; }
	.bannerNew p { font-size: 15px; }
	.bannerHeight { height: 370px !important; }
	.portfolio-experiment .rainbow { width: 300px; height: 150px; transform: scale(0.6); transform-origin: bottom; }
	.portfolio-experiment .rainbow .bow { width: 300px; height: 300px; }
	.portfolio-experiment .rainbow .bow:before { border-width: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(1):before { top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(2):before { top: 15px; right: 15px; bottom: 15px; left: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(3):before { top: 30px; right: 30px; bottom: 30px; left: 30px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(4):before { top: 45px; right: 45px; bottom: 45px; left: 45px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(5):before { top: 60px; right: 60px; bottom: 60px; left: 60px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(6):before { top: 75px; right: 75px; bottom: 75px; left: 75px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(7):before { top: 90px; right: 90px; bottom: 90px; left: 90px; }
	.bannerDragon { width: 100%; bottom: 10px; }
	.dragonAnimation img { max-width: 200px; }
	@keyframes myfirst {
		0% { transform: translateY(0px); }
		50% { transform: translateY(-60px); }
		100% { transform: translateY(0px); }
	}
	.Cloud.Foreground.cloud-1 { height: 40px; }
	.Cloud.Background.cloud-2 { height: 70px; }
	.Cloud.Foreground.cloud-3 { height: 50px; }
	.Cloud.Foreground.cloud-5 { height: 50px; }
	.Cloud.Foreground.cloud-8 { height: 30px; }
	.Cloud.Background.cloud-9 { height: 40px; }
	.Cloud.Background.cloud-10 { height: 30px; }
	.productOverview, .literacy, .resource, .signUp { padding: 40px 0 }
	.bookContent h3 { font-size: 30px; margin-bottom: 20px; }
	.bookContent p { font-size: 14px; }
	.booksDiv { padding-left: 0px; padding-top: 15px; }
	.trialCta { font-size: 16px; padding: 13px 40px }
	.trialCta br { display: none; }
	.themeHeading h2 { font-size: 24px; margin-bottom: 12px }
	.themeHeading p { font-size: 13px; }
	.overviewContent h3 { font-size: 24px; }
	.overviewContent p { font-size: 14px; }
	.overviewContent p br { display: none; }
	.overviewImage img { max-width: 100% }
	.registerBtn .ctaMiddle { padding: 13px 25px; font-size: 15px; }
	.gap-40 { margin-top: 25px; }
	.gridFlex { display: block; }
	.w_1 { width: 100% }
	.w_2 { width: 100% }
	.boxCenter { padding: 40px 20px; }
	.contentPanel h2 { font-size: 18px; }
	.boxData { height: auto; }
	.contentPanel p { line-height: 20px; font-size: 14px; }
	.contentPanel h3 { font-size: 40px; margin-bottom: 12px }
	.contentPanel h4 { font-size: 17px; line-height: 20px; }
	.startTrial { text-align: left; }
	.downLine { display: none; }
	.lineBottom { display: none; }
	.firstBlink { display: none; }
	.inLiteracy h3 { font-size: 15px; line-height: 22px; }
	.cloudBackground { background-size: auto 175px }
	.vLine-1 { display: none; }
	.singleBox .inLiteracy h3 { padding: 0 50px; }
	.cloudBackgroundN { background-size: auto 180px }
	.literacyTable { height: 190px; }
	.cloudBackgroundN .literacyTable { height: 185px; }
	.Cloud.Foreground.cloud-11 { height: 35px; }
	.Cloud.Foreground.cloud-13 { height: 25px; }
	.featuredSlider .slick-slide > div { padding: 0 15px; }
	.featureContent h3 { font-size: 16px; padding: 0 20px; }
	.tableHeight { height: 260px; }
	.featuredSlider .slick-slide:nth-child(odd) { margin-top: 0 }
	.featuredSlider .slick-list { padding: 20px 0 }
	.featuredSlider { margin-top: 0; }
	.storyContent { margin-top: 30px; }
	.testimonialImage > img { border-radius: 15px; }
	.footerLogo img { max-width: 250px; }
	.mainFooter { padding: 35px 0; }
	.footerNavigation ul li a { font-size: 15px; }
	.footerNavigation { margin-top: 30px; }
	.footerSocial ul li { padding: 0 8px; }
	.footerSocial ul { margin: 0 -8px; }
	.footerSocial ul li a { width: 40px; height: 40px; font-size: 20px; }
	.footerSocial { padding: 15px 0 0; text-align: center; }
	.fGrid-1 { text-align: center; }
	.footerNavigation ul li { display: inline-block; padding: 0 8px; }
	.formPage .form-control { font-size: 15px; height: 60px; }
	.formPage .submitBtn { position: relative; width: 100%; padding: 15px 0; font-size: 17px; margin-top: 17px; }
	.subscribeForm { margin-top: 25px; }
	.mainHeader.darkHeader { position: relative; }
}


@media only screen and (min-width:768px) and (max-width:990px) {
	.productOverview, .literacy, .resource, .signUp { padding: 60px 0 }
	.backgroundSlider { bottom: -5px; }
	.listNav ul li a { font-size: 12px; }
	.mainLogo img { max-width: 200px; }
	.mainNavigation { display: none; }
	.mobileMenu { display: block !important; }
	.topHeader { padding: 20px 0; }
	.webPage { padding-top: 84px; }
	.themeHeading h2 { font-size: 40px; }
	.overviewContent p { font-size: 14px; }
	.overviewContent p br { display: none; }
	.themeHeading p { font-size: 16px; }
	.gap-40 { margin-top: 35px; }
	.overviewImage img { max-height: 200px; }
	.boxCenter { padding: 0 20px; }
	.contentPanel h2 { font-size: 14px; }
	.contentPanel p { font-size: 12px; line-height: 18px; }
	.contentPanel h3 { font-size: 38px; }
	.contentPanel h4 { font-size: 15px; }
	.boxData { height: 260px; }
	.trialCta br { display: none; }
	.startTrial a { text-align: center; padding: 11px 27px; font-size: 13px; }
	.inLiteracy h3 { font-size: 12px; line-height: 18px; }
	.cloudBackground { background-size: auto 135px }
	.cloudBackgroundN { background-size: auto 190px; }
	.cloudBackgroundN .literacyTable { height: 195px; }
	.midBottom { max-width: 502px }
	.literacyTable { height: 160px; }
	.firstBlink, .arrowAnimation { transform: scale(0.7); }
	.arrowAnimation { margin: -10px 0; }
	.Cloud.Background.cloud-14 { height: 50px; }
	.threeBox { margin-top: 0; }
	.literacyCloud { top: 100px; }
	.featureContent h3 { padding: 0 20px; font-size: 17px; }
	.tableHeight { height: 300px; }
	.featuredSlider { margin-top: 0; }
	.bookContent h3 { font-size: 21px; margin-bottom: 20px; }
	.bookContent p { font-size: 14px; }
	.subscribeForm { margin-top: 30px; }
	.testimonialImage > img { border-radius: 30px; }
	.storyContent { margin-top: 30px; }
	.testimonialContent p { font-size: 14px; }
	.testimonialContent { margin-top: 21px; }
	.booksDiv { padding-left: 30px; }
	.formPage .submitBtn { font-size: 15px; padding: 16px 35px; }
	.formPage .form-control { font-size: 16px; height: 54px; padding: 0 130px 0 20px; }
	.footerLogo img { max-width: 100% }
	.footerSocial ul li { padding: 0 8px; }
	.footerSocial ul { margin: 0 -8px; }
	.mainFooter { padding: 60px 0 }
	.bannerNew h1 { font-size: 40px; }
	.bannerNew p { font-size: 20px; }
	.bannerHeight { height: 500px !important; }
	.bannercontent { top: 12% }
	.bannerDragon { width: 750px; }
	.dragonAnimation img { max-height: 200px; }
	.bannerDragon { bottom: 20px; }
	.layer-4 { background-size: 100% auto; background-repeat: no-repeat; }
	.portfolio-experiment .rainbow { width: 600px; height: 300px; }
	.portfolio-experiment .rainbow .bow { width: 600px; height: 600px; }
	.portfolio-experiment .rainbow .bow:before { border-width: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(1):before { top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(2):before { top: 15px; right: 15px; bottom: 15px; left: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(3):before { top: 30px; right: 30px; bottom: 30px; left: 30px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(4):before { top: 45px; right: 45px; bottom: 45px; left: 45px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(5):before { top: 60px; right: 60px; bottom: 60px; left: 60px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(6):before { top: 75px; right: 75px; bottom: 75px; left: 75px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(7):before { top: 90px; right: 90px; bottom: 90px; left: 90px; }
	@keyframes myfirst {
		0% { transform: translateY(0px); }
		50% { transform: translateY(-60px); }
		100% { transform: translateY(0px); }
	}
	.middleContent h3 { font-size: 20px; }
	.boxCloud { background-size: auto 100%; height: 170px; }
	.abtData h3 { font-size: 40px; }
	.aboutContent { padding: 30px 0; }
	.dataintersted .boxCloud { width: auto; }
	.centerForm h3 { font-size: 40px; }
	.col-form { padding: 45px; }
	.getinTouch { padding-bottom: 80px; }
	.dataintersted .boxCloud h3 { font-weight: 700; font-size: 21px; }
	.dataintersted .boxCloud { width: auto; background-size: auto 100%; height: 192px; }
	.blogSec { padding: 50px 0; }
	.faqContent h3 { font-size: 40px; }
	.blogBox { margin-bottom: 40px; }
	.blogData h3 { font-size: 17px; }
	.blogData p { font-size: 13px; }
	.blogData .blogCta { font-size: 14px; }

	.blogSecSingle{ padding: 50px 0; }

	.faqCate h3{ font-size: 20px; }
	.faqCate{ padding: 20px; }

	.faqSec{padding: 50px 0;}

}


@media only screen and (min-width:991px) and (max-width:1024px) {
	.productOverview, .literacy, .resource, .signUp { padding: 60px 0 }
	.backgroundSlider { bottom: -5px; }
	.listNav ul li a { font-size: 12px; }
	.mainLogo img { max-width: 200px; }
	.topHeader { padding: 20px 0; }
	.webPage { padding-top: 84px; }
	.themeHeading h2 { font-size: 40px; }
	.overviewContent p { font-size: 14px; }
	.overviewContent p br { display: none; }
	.themeHeading p { font-size: 16px; }
	.gap-40 { margin-top: 35px; }
	.overviewImage img { max-height: 200px; }
	.boxCenter { padding: 0 20px; }
	.contentPanel h2 { font-size: 14px; }
	.contentPanel p { font-size: 12px; line-height: 18px; }
	.contentPanel h3 { font-size: 38px; }
	.contentPanel h4 { font-size: 15px; }
	.boxData { height: 260px; }
	.trialCta br { display: none; }
	.startTrial a { text-align: center; padding: 11px 27px; font-size: 13px; }
	.inLiteracy h3 { font-size: 14px; line-height: 23px; }
	.cloudBackground { background-size: auto 180px }
	.cloudBackgroundN { background-size: auto 190px; }
	.cloudBackgroundN .literacyTable { height: 195px; }
	.midBottom { max-width: 648px }
	.literacyTable { height: 200px; }
	.firstBlink, .arrowAnimation { transform: scale(0.7); }
	.arrowAnimation { margin: -10px 0; }
	.Cloud.Background.cloud-14 { height: 50px; }
	.threeBox { margin-top: 0; }
	.literacyCloud { top: 100px; }
	.featureContent h3 { padding: 0 20px; font-size: 17px; }
	.tableHeight { height: 300px; }
	.featuredSlider { margin-top: 0; }
	.bookContent h3 { font-size: 21px; margin-bottom: 20px; }
	.bookContent p { font-size: 14px; }
	.subscribeForm { margin-top: 30px; }
	.testimonialImage > img { border-radius: 30px; }
	.storyContent { margin-top: 30px; }
	.testimonialContent p { font-size: 14px; }
	.testimonialContent { margin-top: 21px; }
	.booksDiv { padding-left: 30px; }
	.formPage .submitBtn { font-size: 15px; padding: 16px 35px; }
	.formPage .form-control { font-size: 16px; height: 54px; padding: 0 130px 0 20px; }
	.footerLogo img { max-width: 100% }
	.footerSocial ul li { padding: 0 8px; }
	.footerSocial ul { margin: 0 -8px; }
	.mainFooter { padding: 60px 0 }
	.bannerNew h1 { font-size: 40px; }
	.bannerNew p { font-size: 20px; }
	.bannerHeight { height: 550px !important; }
	.bannercontent { top: 12% }
	.bannerDragon { width: 750px; }
	.dragonAnimation img { max-height: 200px; }
	.bannerDragon { bottom: 20px; }
	.layer-4 { background-size: 100% auto; background-repeat: no-repeat; }
	.portfolio-experiment .rainbow { width: 600px; height: 300px; }
	.portfolio-experiment .rainbow .bow { width: 600px; height: 600px; }
	.portfolio-experiment .rainbow .bow:before { border-width: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(1):before { top: 0px; right: 0px; bottom: 0px; left: 0px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(2):before { top: 15px; right: 15px; bottom: 15px; left: 15px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(3):before { top: 30px; right: 30px; bottom: 30px; left: 30px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(4):before { top: 45px; right: 45px; bottom: 45px; left: 45px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(5):before { top: 60px; right: 60px; bottom: 60px; left: 60px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(6):before { top: 75px; right: 75px; bottom: 75px; left: 75px; }
	.portfolio-experiment .rainbow .bow:nth-of-type(7):before { top: 90px; right: 90px; bottom: 90px; left: 90px; }
	@keyframes myfirst {
		0% { transform: translateY(0px); }
		50% { transform: translateY(-60px); }
		100% { transform: translateY(0px); }
	}
	.middleContent h3 { font-size: 23px; }
	.boxCloud { background-size: auto 100%; height: 230px; }
	.abtData h3 { font-size: 40px; }
	.aboutContent { padding: 30px 0; }
	.dataintersted .boxCloud { width: auto; }
	.centerForm h3 { font-size: 40px; }
	.col-form { padding: 45px; }
	.getinTouch { padding-bottom: 80px; }
	.dataintersted .boxCloud h3 { font-weight: 600; font-size: 25px; }
	.dataintersted .boxCloud { width: auto; background-size: auto 100%; height: 250px; }
	.blogSec { padding: 50px 0; }
	.faqContent h3 { font-size: 40px; }
	.blogBox { margin-bottom: 40px; }

	.blogSecSingle{ padding: 50px 0; }

	.faqCate h3{ font-size: 20px; }
	.faqCate{ padding: 20px; }
    
    .faqSec{padding: 50px 0;}

}